body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	display: grid;
	grid-template: auto 1fr auto / 200px 1fr 200px;
	gap: 10px;
}
.title {
	grid-column: 1 / 4;
	background-color: #4caf50;
	color: white;
	text-align: center;
	padding: 10px 0;
}

main {
	display: contents;
}
.left-sidebar {
	grid-column: 1 / 2;
	background-color: #f4f4f4;
	padding: 10px;
}

.main-content {
	grid-column: 2 / 3;
	padding: 10px;
}

.right-sidebar {
	grid-column: 3 / 4;
	background-color: #f4f4f4;
	padding: 10px;
}

footer {
	grid-column: 1 / 4;
	background-color: #333;
	color: white;
	text-align: center;
	padding: 10px 0;
}
