@media (min-width: 800px) {
	:root {
		background-color: #555;
	}
	body {
		background-color: #f4f4f4;
		font-family: "Libre Franklin", sans-serif;
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}

	/* Hide the Hamburger Button on Desktop */
	#menu {
		display: none;
	}

	/* Horizontal Navigation */
	nav {
		display: flex;
		justify-content: space-around;
		background-color: #001f3f;
	}

	.navigation {
		display: flex !important; /* Overrides the mobile 'none' */
		flex-direction: row;
		width: 100%;
		background-color: transparent;
	}

	.navigation li {
		flex: 1;
	}

	.navigation li a {
		border-top: none;
	}
	.navigation li a:hover {
		color: gold;
		background-color: transparent;
	}

	/* 3-Column Grid Layout for Temple Cards */
	.grid-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 25px;
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
	}

	header h1 {
		padding: 1rem 0;
	}
}
