@media (min-width: 600px) {
	main {
		max-width: 600px;
		background-color: var(--white);
		padding: 40px;
		border-radius: 8px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		margin: 40px auto;
	}

	.stars {
		justify-content: flex-start;
		gap: 30px;
	}
}
