:root {
	--primary-red: #ce1126;
	--primary-gold: #fcd116;
	--primary-green: #006b3f;
	--overlay-white: rgba(255, 255, 255, 0.85);
}

body {
	margin: 0;
	font-family: "Libre Franklin", sans-serif;
	text-align: center;
}

header {
	background-color: var(--primary-red);
	color: var(--primary-gold);
	padding: 0.5rem;
	border-bottom: 10px solid var(--primary-gold);
}

footer {
	background-color: var(--primary-green);
	color: white;
	text-align: center;
	padding: 1rem;
}

.hero-container {
	position: relative;
	width: 100%;
}

.hero-img {
	width: 100%;
	height: auto;
	display: block;
}

.weather-icon-svg {
	display: block;
	width: 80px;
	height: auto;
	margin: 10px auto;
}

.weather-title {
	text-align: center;
	background-color: var(--primary-green);
	color: white;
	padding: 0.5rem;
}

.card {
	padding: 1.5rem;
	margin: 1rem;
	background-color: white;
	border: 1px solid #ddd;
}

.card h2 {
	background-color: var(--primary-green);
	color: white;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.card p span {
	font-weight: bold;
}
