@media (min-width: 800px) {
	:root {
		background-color: #555;
	}
	body {
		background-color: #f4f4f4;
		font-family: "Libre Franklin", sans-serif;
		width: 95%;
		margin: 0 auto;
		padding: 0;
	}

	/* Hide the Hamburger Button */
	#menu {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #001f3f;
	}

	/* Horizontal Navigation */
	.navigation {
		display: contents !important; /* Force show on desktop and he contents value treat the children as direct children */
	}

	.navigation li {
		flex: 1;
	}

	.navigation li a {
		border-top: none;
	}

	/* 3-Column Grid Layout */
	.grid-container {
		grid-template-columns: repeat(3, 1fr);
	}

	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
	}

	header h1 {
		padding: 1rem 0;
	}

	nav {
		width: 60%;
	}
}
